* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-image: url("/assets/imgs/backround.jpg");
  color: #f8f8f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.header {
  text-align: center;
  color: antiquewhite;
  margin-top: 30px;
}

.stats {
  position: absolute;
  left: 40px;
  top: 100px;
  color: orangered;
}

.story {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 50px auto;
  background-color: midnightblue;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  width: 60%;
}

.choices {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 40px;
  top: 100px;
  gap: 20px
}

.choice-btn {
  border: 2px solid orange;
  border-radius: 5px;
  padding: 10px 5px;
  background-color: black;
  font-size: 15px;
  color: orange;
  cursor: pointer;
  font-weight: bolder;
}

.choice-btn:hover {
  background-color: orange;
  color: black;
  border: 2px solid black;
}

#startBtn {
  border: 2px solid orangered;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: black;
  font-size: 15px;
  color: orangered;
  cursor: pointer;
  font-weight: bolder;
  margin-top: 70px;
}

#startBtn:hover {
  background-color: orangered;
  color: black;
  border: 2px solid black;
}





